.main-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .main-list{
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .main-icon-bgc {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--secondary-bgc-main);
  }
  
  .main-work {
    padding-top: 0px;
  }
  .main-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }